/*
 * qBittorrent WebUI API
 *
 * - All API methods are under `/api/v2/APIName/methodName`, where `APIName` is a certain subgroup of API methods whose functionality is related. - Either `GET` or `POST` can be used as the request type for all API methods. - All API methods require [authentication](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#authentication) (except the `/api/v2/auth/login` method itself, obviously). 
 *
 * The version of the OpenAPI document: 2.11.3
 * 
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration, ContentType};


/// struct for typed errors of method [`rss_add_feed_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssAddFeedPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_add_folder_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssAddFolderPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_items_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssItemsPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_mark_as_read_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssMarkAsReadPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_matching_articles_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssMatchingArticlesPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_move_item_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssMoveItemPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_refresh_item_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssRefreshItemPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_remove_item_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssRemoveItemPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_remove_rule_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssRemoveRulePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_rename_rule_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssRenameRulePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_rules_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssRulesGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`rss_set_rule_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum RssSetRulePostError {
    UnknownValue(serde_json::Value),
}


pub async fn rss_add_feed_post(configuration: &configuration::Configuration, url: &str, path: Option<&str>) -> Result<(), Error<RssAddFeedPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_url = url;
    let p_form_path = path;

    let uri_str = format!("{}/rss/addFeed", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("url", p_form_url.to_string());
    if let Some(param_value) = p_form_path {
        multipart_form_params.insert("path", param_value.to_string());
    }
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssAddFeedPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_add_folder_post(configuration: &configuration::Configuration, path: &str) -> Result<(), Error<RssAddFolderPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_path = path;

    let uri_str = format!("{}/rss/addFolder", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("path", p_form_path.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssAddFolderPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_items_post(configuration: &configuration::Configuration, with_data: Option<bool>) -> Result<serde_json::Value, Error<RssItemsPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_with_data = with_data;

    let uri_str = format!("{}/rss/items", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    if let Some(param_value) = p_form_with_data {
        multipart_form_params.insert("withData", param_value.to_string());
    }
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `serde_json::Value`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `serde_json::Value`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RssItemsPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// If `articleId` is provided only the article is marked as read otherwise the whole feed is going to be marked as read.
pub async fn rss_mark_as_read_post(configuration: &configuration::Configuration, item_path: &str, article_id: Option<&str>) -> Result<(), Error<RssMarkAsReadPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_item_path = item_path;
    let p_form_article_id = article_id;

    let uri_str = format!("{}/rss/markAsRead", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("itemPath", p_form_item_path.to_string());
    if let Some(param_value) = p_form_article_id {
        multipart_form_params.insert("articleId", param_value.to_string());
    }
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssMarkAsReadPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_matching_articles_post(configuration: &configuration::Configuration, rule_name: &str) -> Result<std::collections::HashMap<String, Vec<String>>, Error<RssMatchingArticlesPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_rule_name = rule_name;

    let uri_str = format!("{}/rss/matchingArticles", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("ruleName", p_form_rule_name.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `std::collections::HashMap&lt;String, Vec&lt;String&gt;&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `std::collections::HashMap&lt;String, Vec&lt;String&gt;&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RssMatchingArticlesPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_move_item_post(configuration: &configuration::Configuration, item_path: &str, dest_path: &str) -> Result<(), Error<RssMoveItemPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_item_path = item_path;
    let p_form_dest_path = dest_path;

    let uri_str = format!("{}/rss/moveItem", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("itemPath", p_form_item_path.to_string());
    multipart_form_params.insert("destPath", p_form_dest_path.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssMoveItemPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Refreshes folder or feed.
pub async fn rss_refresh_item_post(configuration: &configuration::Configuration, item_path: &str) -> Result<(), Error<RssRefreshItemPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_item_path = item_path;

    let uri_str = format!("{}/rss/refreshItem", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("itemPath", p_form_item_path.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssRefreshItemPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_remove_item_post(configuration: &configuration::Configuration, path: &str) -> Result<(), Error<RssRemoveItemPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_path = path;

    let uri_str = format!("{}/rss/removeItem", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("path", p_form_path.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssRemoveItemPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_remove_rule_post(configuration: &configuration::Configuration, rule_name: &str) -> Result<(), Error<RssRemoveRulePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_rule_name = rule_name;

    let uri_str = format!("{}/rss/removeRule", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("ruleName", p_form_rule_name.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssRemoveRulePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_rename_rule_post(configuration: &configuration::Configuration, rule_name: &str, new_rule_name: &str) -> Result<(), Error<RssRenameRulePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_rule_name = rule_name;
    let p_form_new_rule_name = new_rule_name;

    let uri_str = format!("{}/rss/renameRule", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("ruleName", p_form_rule_name.to_string());
    multipart_form_params.insert("newRuleName", p_form_new_rule_name.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssRenameRulePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_rules_get(configuration: &configuration::Configuration, ) -> Result<std::collections::HashMap<String, models::RssRuleDef>, Error<RssRulesGetError>> {

    let uri_str = format!("{}/rss/rules", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `std::collections::HashMap&lt;String, models::RssRuleDef&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `std::collections::HashMap&lt;String, models::RssRuleDef&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<RssRulesGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn rss_set_rule_post(configuration: &configuration::Configuration, rule_name: &str, rule_def: models::RssRuleDef) -> Result<(), Error<RssSetRulePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_rule_name = rule_name;
    let p_form_rule_def = rule_def;

    let uri_str = format!("{}/rss/setRule", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("ruleName", p_form_rule_name.to_string());
    multipart_form_params.insert("ruleDef", serde_json::to_string(&p_form_rule_def).map_err(Error::from)?);
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<RssSetRulePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

