/*
 * qBittorrent WebUI API
 *
 * - All API methods are under `/api/v2/APIName/methodName`, where `APIName` is a certain subgroup of API methods whose functionality is related. - Either `GET` or `POST` can be used as the request type for all API methods. - All API methods require [authentication](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#authentication) (except the `/api/v2/auth/login` method itself, obviously). 
 *
 * The version of the OpenAPI document: 2.11.3
 * 
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration, ContentType};
use tokio::fs::File as TokioFile;
use tokio_util::codec::{BytesCodec, FramedRead};


/// struct for typed errors of method [`torrent_webseeds_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentWebseedsPostError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_add_peers_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsAddPeersPostError {
    Status400(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_add_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsAddPostError {
    Status415(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_add_tags_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsAddTagsPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_add_trackers_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsAddTrackersPostError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_bottom_prio_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsBottomPrioPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_categories_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsCategoriesGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_create_category_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsCreateCategoryPostError {
    Status400(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_create_tags_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsCreateTagsPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_decrease_prio_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsDecreasePrioPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_delete_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsDeletePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_delete_tags_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsDeleteTagsPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_download_limit_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsDownloadLimitPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_edit_category_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsEditCategoryPostError {
    Status400(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_edit_tracker_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsEditTrackerPostError {
    Status400(),
    Status404(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_file_prio_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsFilePrioPostError {
    Status400(),
    Status404(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_files_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsFilesPostError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_increase_prio_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsIncreasePrioPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_info_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsInfoPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_pause_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsPausePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_piece_hashes_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsPieceHashesPostError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_piece_states_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsPieceStatesPostError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_properties_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsPropertiesPostError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_reannounce_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsReannouncePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_recheck_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsRecheckPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_remove_categories_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsRemoveCategoriesPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_remove_tags_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsRemoveTagsPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_remove_trackers_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsRemoveTrackersPostError {
    Status404(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_rename_file_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsRenameFilePostError {
    Status400(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_rename_folder_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsRenameFolderPostError {
    Status400(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_rename_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsRenamePostError {
    Status404(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_resume_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsResumePostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_auto_management_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetAutoManagementPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_category_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetCategoryPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_download_limit_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetDownloadLimitPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_force_start_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetForceStartPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_location_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetLocationPostError {
    Status400(),
    Status403(),
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_share_limits_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetShareLimitsPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_super_seeding_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetSuperSeedingPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_set_upload_limit_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsSetUploadLimitPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_tags_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsTagsGetError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_toggle_first_last_piece_prio_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsToggleFirstLastPiecePrioPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_toggle_sequential_download_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsToggleSequentialDownloadPostError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_top_prio_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsTopPrioPostError {
    Status409(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_trackers_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsTrackersPostError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`torrents_upload_limit_post`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum TorrentsUploadLimitPostError {
    UnknownValue(serde_json::Value),
}


/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrent_webseeds_post(configuration: &configuration::Configuration, hash: &str) -> Result<Vec<models::TorrentsWebseeds>, Error<TorrentWebseedsPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;

    let uri_str = format!("{}/torrents/webseeds", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::TorrentsWebseeds&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::TorrentsWebseeds&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentWebseedsPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_add_peers_post(configuration: &configuration::Configuration, hashes: Vec<String>, peers: Vec<String>) -> Result<(), Error<TorrentsAddPeersPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_peers = peers;

    let uri_str = format!("{}/torrents/addPeers", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("peers", p_form_peers.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsAddPeersPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// This method can add torrents from server local file or from URLs. `http://`, `https://`, `magnet:` and `bc://bt/` links are supported.
pub async fn torrents_add_post(configuration: &configuration::Configuration, urls: Option<&str>, savepath: Option<&str>, category: Option<&str>, tags: Option<Vec<String>>, skip_checking: Option<&str>, paused: Option<&str>, root_folder: Option<&str>, rename: Option<&str>, up_limit: Option<i64>, dl_limit: Option<i64>, ratio_limit: Option<f32>, seeding_time_limit: Option<i64>, auto_tmm: Option<bool>, sequential_download: Option<&str>, first_last_piece_prio: Option<&str>, torrents: Option<Vec<std::path::PathBuf>>) -> Result<(), Error<TorrentsAddPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_urls = urls;
    let p_form_savepath = savepath;
    let p_form_category = category;
    let p_form_tags = tags;
    let p_form_skip_checking = skip_checking;
    let p_form_paused = paused;
    let p_form_root_folder = root_folder;
    let p_form_rename = rename;
    let p_form_up_limit = up_limit;
    let p_form_dl_limit = dl_limit;
    let p_form_ratio_limit = ratio_limit;
    let p_form_seeding_time_limit = seeding_time_limit;
    let p_form_auto_tmm = auto_tmm;
    let p_form_sequential_download = sequential_download;
    let p_form_first_last_piece_prio = first_last_piece_prio;
    let p_form_torrents = torrents;

    let uri_str = format!("{}/torrents/add", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form = reqwest::multipart::Form::new();
    if let Some(param_value) = p_form_urls {
        multipart_form = multipart_form.text("urls", param_value.to_string());
    }
    if let Some(param_value) = p_form_savepath {
        multipart_form = multipart_form.text("savepath", param_value.to_string());
    }
    if let Some(param_value) = p_form_category {
        multipart_form = multipart_form.text("category", param_value.to_string());
    }
    if let Some(param_value) = p_form_tags {
        multipart_form = multipart_form.text("tags", serde_json::to_string(&param_value)?);
    }
    if let Some(param_value) = p_form_skip_checking {
        multipart_form = multipart_form.text("skip_checking", param_value.to_string());
    }
    if let Some(param_value) = p_form_paused {
        multipart_form = multipart_form.text("paused", param_value.to_string());
    }
    if let Some(param_value) = p_form_root_folder {
        multipart_form = multipart_form.text("root_folder", param_value.to_string());
    }
    if let Some(param_value) = p_form_rename {
        multipart_form = multipart_form.text("rename", param_value.to_string());
    }
    if let Some(param_value) = p_form_up_limit {
        multipart_form = multipart_form.text("upLimit", param_value.to_string());
    }
    if let Some(param_value) = p_form_dl_limit {
        multipart_form = multipart_form.text("dlLimit", param_value.to_string());
    }
    if let Some(param_value) = p_form_ratio_limit {
        multipart_form = multipart_form.text("ratioLimit", param_value.to_string());
    }
    if let Some(param_value) = p_form_seeding_time_limit {
        multipart_form = multipart_form.text("seedingTimeLimit", param_value.to_string());
    }
    if let Some(param_value) = p_form_auto_tmm {
        multipart_form = multipart_form.text("autoTMM", param_value.to_string());
    }
    if let Some(param_value) = p_form_sequential_download {
        multipart_form = multipart_form.text("sequentialDownload", param_value.to_string());
    }
    if let Some(param_value) = p_form_first_last_piece_prio {
        multipart_form = multipart_form.text("firstLastPiecePrio", param_value.to_string());
    }
    if let Some(ref param_value) = p_form_torrents {
                for value in param_value {
                let file = TokioFile::open(value).await?;
                let stream = FramedRead::new(file, BytesCodec::new());
                let file_name = value.file_name().map(|n| n.to_string_lossy().to_string()).unwrap_or_default();
                let file_part = reqwest::multipart::Part::stream(reqwest::Body::wrap_stream(stream)).file_name(file_name);
                multipart_form = multipart_form.part("torrents", file_part);
                }
    }
    req_builder = req_builder.multipart(multipart_form);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsAddPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_add_tags_post(configuration: &configuration::Configuration, hashes: Vec<String>, tags: Vec<String>) -> Result<(), Error<TorrentsAddTagsPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_tags = tags;

    let uri_str = format!("{}/torrents/addTags", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("tags", p_form_tags.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsAddTagsPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_add_trackers_post(configuration: &configuration::Configuration, hash: &str, urls: &str) -> Result<(), Error<TorrentsAddTrackersPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_urls = urls;

    let uri_str = format!("{}/torrents/addTrackers", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    multipart_form_params.insert("urls", p_form_urls.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsAddTrackersPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_bottom_prio_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsBottomPrioPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/bottomPrio", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsBottomPrioPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_categories_get(configuration: &configuration::Configuration, ) -> Result<std::collections::HashMap<String, models::TorrentsCategory>, Error<TorrentsCategoriesGetError>> {

    let uri_str = format!("{}/torrents/categories", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `std::collections::HashMap&lt;String, models::TorrentsCategory&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `std::collections::HashMap&lt;String, models::TorrentsCategory&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsCategoriesGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_create_category_post(configuration: &configuration::Configuration, category: &str, save_path: Option<&str>) -> Result<(), Error<TorrentsCreateCategoryPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_category = category;
    let p_form_save_path = save_path;

    let uri_str = format!("{}/torrents/createCategory", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("category", p_form_category.to_string());
    if let Some(param_value) = p_form_save_path {
        multipart_form_params.insert("savePath", param_value.to_string());
    }
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsCreateCategoryPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_create_tags_post(configuration: &configuration::Configuration, tags: Vec<String>) -> Result<(), Error<TorrentsCreateTagsPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_tags = tags;

    let uri_str = format!("{}/torrents/createTags", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("tags", p_form_tags.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsCreateTagsPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_decrease_prio_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsDecreasePrioPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/decreasePrio", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsDecreasePrioPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hashes. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_delete_post(configuration: &configuration::Configuration, hashes: Vec<String>, delete_files: bool) -> Result<(), Error<TorrentsDeletePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_delete_files = delete_files;

    let uri_str = format!("{}/torrents/delete", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("deleteFiles", p_form_delete_files.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsDeletePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_delete_tags_post(configuration: &configuration::Configuration, tags: Vec<String>) -> Result<(), Error<TorrentsDeleteTagsPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_tags = tags;

    let uri_str = format!("{}/torrents/deleteTags", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("tags", p_form_tags.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsDeleteTagsPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_download_limit_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<std::collections::HashMap<String, i64>, Error<TorrentsDownloadLimitPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/downloadLimit", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `std::collections::HashMap&lt;String, i64&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `std::collections::HashMap&lt;String, i64&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsDownloadLimitPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_edit_category_post(configuration: &configuration::Configuration, category: &str, save_path: Option<&str>) -> Result<(), Error<TorrentsEditCategoryPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_category = category;
    let p_form_save_path = save_path;

    let uri_str = format!("{}/torrents/editCategory", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("category", p_form_category.to_string());
    if let Some(param_value) = p_form_save_path {
        multipart_form_params.insert("savePath", param_value.to_string());
    }
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsEditCategoryPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_edit_tracker_post(configuration: &configuration::Configuration, hash: &str, orig_url: &str, new_url: &str) -> Result<(), Error<TorrentsEditTrackerPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_orig_url = orig_url;
    let p_form_new_url = new_url;

    let uri_str = format!("{}/torrents/editTracker", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    multipart_form_params.insert("origUrl", p_form_orig_url.to_string());
    multipart_form_params.insert("newUrl", p_form_new_url.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsEditTrackerPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_file_prio_post(configuration: &configuration::Configuration, hash: &str, id: Vec<i64>, priority: i32) -> Result<(), Error<TorrentsFilePrioPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_id = id;
    let p_form_priority = priority;

    let uri_str = format!("{}/torrents/filePrio", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    multipart_form_params.insert("id", p_form_id.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("priority", p_form_priority.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsFilePrioPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_files_post(configuration: &configuration::Configuration, hash: &str, indexes: Option<Vec<String>>) -> Result<Vec<models::TorrentsFiles>, Error<TorrentsFilesPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_indexes = indexes;

    let uri_str = format!("{}/torrents/files", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    if let Some(param_value) = p_form_indexes {
        multipart_form_params.insert("indexes", param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    }
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::TorrentsFiles&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::TorrentsFiles&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsFilesPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_increase_prio_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsIncreasePrioPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/increasePrio", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsIncreasePrioPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_info_post(configuration: &configuration::Configuration, filter: Option<&str>, category: Option<&str>, tag: Option<&str>, sort: Option<&str>, reverse: Option<bool>, limit: Option<i64>, offset: Option<i64>, hashes: Option<Vec<String>>) -> Result<Vec<models::TorrentInfo>, Error<TorrentsInfoPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_filter = filter;
    let p_form_category = category;
    let p_form_tag = tag;
    let p_form_sort = sort;
    let p_form_reverse = reverse;
    let p_form_limit = limit;
    let p_form_offset = offset;
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/info", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    if let Some(param_value) = p_form_filter {
        multipart_form_params.insert("filter", param_value.to_string());
    }
    if let Some(param_value) = p_form_category {
        multipart_form_params.insert("category", param_value.to_string());
    }
    if let Some(param_value) = p_form_tag {
        multipart_form_params.insert("tag", param_value.to_string());
    }
    if let Some(param_value) = p_form_sort {
        multipart_form_params.insert("sort", param_value.to_string());
    }
    if let Some(param_value) = p_form_reverse {
        multipart_form_params.insert("reverse", param_value.to_string());
    }
    if let Some(param_value) = p_form_limit {
        multipart_form_params.insert("limit", param_value.to_string());
    }
    if let Some(param_value) = p_form_offset {
        multipart_form_params.insert("offset", param_value.to_string());
    }
    if let Some(param_value) = p_form_hashes {
        multipart_form_params.insert("hashes", param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    }
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::TorrentInfo&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::TorrentInfo&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsInfoPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hashes. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_pause_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsPausePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/pause", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsPausePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_piece_hashes_post(configuration: &configuration::Configuration, hash: &str) -> Result<Vec<String>, Error<TorrentsPieceHashesPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;

    let uri_str = format!("{}/torrents/pieceHashes", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;String&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;String&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsPieceHashesPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_piece_states_post(configuration: &configuration::Configuration, hash: &str) -> Result<Vec<i32>, Error<TorrentsPieceStatesPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;

    let uri_str = format!("{}/torrents/pieceStates", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;i32&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;i32&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsPieceStatesPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_properties_post(configuration: &configuration::Configuration, hash: &str) -> Result<models::TorrentsProperties, Error<TorrentsPropertiesPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;

    let uri_str = format!("{}/torrents/properties", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::TorrentsProperties`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::TorrentsProperties`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsPropertiesPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hashes. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_reannounce_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsReannouncePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/reannounce", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsReannouncePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hashes. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_recheck_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsRecheckPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/recheck", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsRecheckPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_remove_categories_post(configuration: &configuration::Configuration, categories: &str) -> Result<(), Error<TorrentsRemoveCategoriesPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_categories = categories;

    let uri_str = format!("{}/torrents/removeCategories", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("categories", p_form_categories.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsRemoveCategoriesPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_remove_tags_post(configuration: &configuration::Configuration, hashes: Vec<String>, tags: Vec<String>) -> Result<(), Error<TorrentsRemoveTagsPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_tags = tags;

    let uri_str = format!("{}/torrents/removeTags", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("tags", p_form_tags.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsRemoveTagsPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_remove_trackers_post(configuration: &configuration::Configuration, hash: &str, urls: Vec<String>) -> Result<(), Error<TorrentsRemoveTrackersPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_urls = urls;

    let uri_str = format!("{}/torrents/removeTrackers", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    multipart_form_params.insert("urls", p_form_urls.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsRemoveTrackersPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_rename_file_post(configuration: &configuration::Configuration, hash: &str, old_path: &str, new_path: &str) -> Result<(), Error<TorrentsRenameFilePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_old_path = old_path;
    let p_form_new_path = new_path;

    let uri_str = format!("{}/torrents/renameFile", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    multipart_form_params.insert("oldPath", p_form_old_path.to_string());
    multipart_form_params.insert("newPath", p_form_new_path.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsRenameFilePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_rename_folder_post(configuration: &configuration::Configuration, hash: &str, old_path: &str, new_path: &str) -> Result<(), Error<TorrentsRenameFolderPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_old_path = old_path;
    let p_form_new_path = new_path;

    let uri_str = format!("{}/torrents/renameFolder", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    multipart_form_params.insert("oldPath", p_form_old_path.to_string());
    multipart_form_params.insert("newPath", p_form_new_path.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsRenameFolderPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_rename_post(configuration: &configuration::Configuration, hash: &str, name: &str) -> Result<(), Error<TorrentsRenamePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;
    let p_form_name = name;

    let uri_str = format!("{}/torrents/rename", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    multipart_form_params.insert("name", p_form_name.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsRenamePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hashes. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_resume_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsResumePostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/resume", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsResumePostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_auto_management_post(configuration: &configuration::Configuration, hashes: Vec<String>, enable: bool) -> Result<(), Error<TorrentsSetAutoManagementPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_enable = enable;

    let uri_str = format!("{}/torrents/setAutoManagement", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("enable", p_form_enable.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetAutoManagementPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_category_post(configuration: &configuration::Configuration, hashes: Vec<String>, category: &str) -> Result<(), Error<TorrentsSetCategoryPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_category = category;

    let uri_str = format!("{}/torrents/setCategory", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("category", p_form_category.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetCategoryPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_download_limit_post(configuration: &configuration::Configuration, hashes: Vec<String>, limit: i64) -> Result<(), Error<TorrentsSetDownloadLimitPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_limit = limit;

    let uri_str = format!("{}/torrents/setDownloadLimit", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("limit", p_form_limit.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetDownloadLimitPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_force_start_post(configuration: &configuration::Configuration, hashes: Vec<String>, value: bool) -> Result<(), Error<TorrentsSetForceStartPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_value = value;

    let uri_str = format!("{}/torrents/setForceStart", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("value", p_form_value.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetForceStartPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_location_post(configuration: &configuration::Configuration, hashes: Vec<String>, location: &str) -> Result<(), Error<TorrentsSetLocationPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_location = location;

    let uri_str = format!("{}/torrents/setLocation", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("location", p_form_location.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetLocationPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_share_limits_post(configuration: &configuration::Configuration, hashes: Vec<String>, ratio_limit: f32, seeding_time_limit: f32) -> Result<(), Error<TorrentsSetShareLimitsPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_ratio_limit = ratio_limit;
    let p_form_seeding_time_limit = seeding_time_limit;

    let uri_str = format!("{}/torrents/setShareLimits", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("ratioLimit", p_form_ratio_limit.to_string());
    multipart_form_params.insert("seedingTimeLimit", p_form_seeding_time_limit.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetShareLimitsPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_super_seeding_post(configuration: &configuration::Configuration, hashes: Vec<String>, value: bool) -> Result<(), Error<TorrentsSetSuperSeedingPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_value = value;

    let uri_str = format!("{}/torrents/setSuperSeeding", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("value", p_form_value.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetSuperSeedingPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_set_upload_limit_post(configuration: &configuration::Configuration, hashes: Vec<String>, limit: i64) -> Result<(), Error<TorrentsSetUploadLimitPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;
    let p_form_limit = limit;

    let uri_str = format!("{}/torrents/setUploadLimit", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    multipart_form_params.insert("limit", p_form_limit.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsSetUploadLimitPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn torrents_tags_get(configuration: &configuration::Configuration, ) -> Result<Vec<String>, Error<TorrentsTagsGetError>> {

    let uri_str = format!("{}/torrents/tags", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;String&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;String&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsTagsGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_toggle_first_last_piece_prio_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsToggleFirstLastPiecePrioPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/toggleFirstLastPiecePrio", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsToggleFirstLastPiecePrioPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_toggle_sequential_download_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsToggleSequentialDownloadPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/toggleSequentialDownload", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsToggleSequentialDownloadPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_top_prio_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<(), Error<TorrentsTopPrioPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/topPrio", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsTopPrioPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_trackers_post(configuration: &configuration::Configuration, hash: &str) -> Result<Vec<models::TorrentsTrackers>, Error<TorrentsTrackersPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hash = hash;

    let uri_str = format!("{}/torrents/trackers", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hash", p_form_hash.to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::TorrentsTrackers&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::TorrentsTrackers&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsTrackersPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Requires knowing the torrent hash. You can get it from [torrent list](https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-(qBittorrent-5.0)#get-torrent-list).
pub async fn torrents_upload_limit_post(configuration: &configuration::Configuration, hashes: Vec<String>) -> Result<std::collections::HashMap<String, i64>, Error<TorrentsUploadLimitPostError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_form_hashes = hashes;

    let uri_str = format!("{}/torrents/uploadLimit", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    let mut multipart_form_params = std::collections::HashMap::new();
    multipart_form_params.insert("hashes", p_form_hashes.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string());
    req_builder = req_builder.form(&multipart_form_params);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `std::collections::HashMap&lt;String, i64&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `std::collections::HashMap&lt;String, i64&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<TorrentsUploadLimitPostError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

